.arrow {
    position: relative;
    width: 0;
    height: 100px;
    margin-bottom: 50px;
    background-color: black;
    transition: background-color 0.3s ease;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 280px;
    background-color: rgb(24, 24, 24);
    transition: background-color 0.3s ease;
}

.arrow::before {
    transform: rotate(-78deg);
    bottom: -150px;
    left: -138px;
    border-radius: 10px;
}

.arrow::after {
    transform: rotate(78deg);
    bottom: -150px;
    right: -138px;
    border-radius: 10px;
}

.arrow:hover {
    background-color: rgb(24, 24, 24);
}

.arrow:hover::before,
.arrow:hover::after {
    background-color: black;
}