/**------------------------ General ------------------------**/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

* {
    margin: 0;
    font-family: "Noto Sans", serif;
}

html {
    scroll-behavior: smooth;
    /* Transición suave */
}

.header {
    background-color: rgb(136, 136, 136);
}

/**rgb(38, 38, 38);**/
body {
    background-color: var(--navbar-background);
    margin-top: 0;
}

h1 {
    color: var(--h1-color);
    font-size: 65px !important;
}

h2 {
    color: rgb(183, 183, 183);
    font-size: 35px;
    margin: 30px;
}

h3 {
    color: rgb(156, 156, 156);
    font-size: 25px !important;
}

pre code {
    font-size: 19px !important;
}

.code {
    color: var(--code-color);
    font-family: 'Cascadia Code', sans-serif;
    font-size: 20px;
    background-color: var(--code-background);
    border-radius: 8px !important;
    margin: 0 !important;
    margin-left: 0;
    padding: 4px;
}

.container,
content,
.sidebar,
.navbar,
.nav-btn {
    transition: background-color 0.5s ease, color 0.5s ease;
}


/**Todo el nav here**/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--navbar-background);
}

.nav-btn {
    align-items: center;
    appearance: none;
    background-color: var(--navbar-btn-background);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(68, 68, 68, 0.4) 0 2px 4px, rgba(35, 35, 35, 0.3) 0 7px 13px -3px, var(--navbar-btn-shadow) 0 -3px 0 inset;
    box-sizing: border-box;
    color: var(--navbar-btn-color);
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 23px;
}

.nav-btn:focus {
    box-shadow: var(--navbar-btn-shadow) 0 0 0 1.5px inset, rgba(51, 51, 51, 0.4) 0 2px 4px, rgba(44, 44, 44, 0.3) 0 7px 13px -3px, var(--navbar-btn-shadow) 0 -3px 0 inset;
}

.nav-btn:hover {
    box-shadow: rgba(46, 46, 46, 0.4) 0 4px 8px, rgba(50, 50, 50, 0.3) 0 7px 13px -3px, var(--navbar-btn-shadow) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.nav-btn:active {
    box-shadow: var(--navbar-btn-shadow) 0 3px 7px inset;
    transform: translateY(2px);
}

.div-btn-n,
.div-btn-l {
    flex: 1;
    display: flex;
    align-items: center;
}

.div-btn-n button,
.div-btn-l button {
    margin: 20px;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--navbar-theme-switch-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Cambiar a posición absoluta */
    top: 6px;
    left: 750px; /* Ajustar la posición a la izquierda */
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Añadir transición */
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

#theme-switch:hover {
     /* Cambiar color de fondo al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Añadir sombra al pasar el ratón */
    transform: scale(1.2);
}



#theme-switch img {
    height: 35px;
    transition: filter 0.3s ease;
    border: none;
    outline: none;
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}


/**Todo el Asidebar here**/

.sidebar {
    flex: 1;
    background-color: var(--aside-background);
    padding: 20px;
    border-left: 1px solid #0000003d;
}

.sticky {
    position: sticky;
    top: 40px;
    font-size: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 25px;
}

.sidebar ul li a {
    margin-left: 0;
    text-decoration: underline;
    color: var(--aside-color);
    font-size: 20px;

    transition: color 0.3s ease, transform 0.3s ease;
}

.sidebar ul li:hover a {
    text-decoration: underline;
    color: var(--aside-color-hover);
    font-size: 20px;
}

/**------------------------ Contenedores ------------------------**/

/**Animaciones**/

/**Hola Juan, se que esto no apareció en el temario, pero me hacia ilusión ponerlo porque hace poco hice un curso sobre esto**/
.content h2:target {
    animation: highlight 2s;
}

@keyframes highlight {
    from {
        background-color: var(--highlight);
        border-radius: 10px;
    }

    to {
        background-color: transparent;
        border-radius: 10px;
    }
}

/**Temas de la página**/

:root {
    --background-color: rgb(38, 38, 38);
    --h1-color: rgb(183, 183, 183);

    --h2-color: rgb(111, 113, 222);
    --h3-color: rgb(134, 134, 134);
    --text-color: rgb(206, 206, 206);

    --highlight: rgb(80, 80, 80);

    --aside-color: #bbbbbb;
    --aside-color-hover: #615ac5;
    --aside-background: #4a4a4a;

    --code-color: #979797;
    --code-background: #363A3F;

    --navbar-background: rgb(56, 56, 56);
    --navbar-theme-switch-background: rgb(73, 73, 73);

    --navbar-btn-background: #575757;
    --navbar-btn-color: #b1b1b1;
    --navbar-btn-shadow: #272727;

    --card-background: #2f2f2f;
}

.darkmode {
    --background-color: rgb(241, 230, 214);
    --h1-color: rgb(66, 66, 66);

    --h2-color: rgb(234, 153, 66);
    --h3-color: rgb(63, 63, 63);
    --text-color: rgb(40, 40, 40);

    --highlight: rgb(241, 241, 241);

    --aside-color: rgb(41, 41, 41);
    --aside-color-hover: #ea9942;
    --aside-background: #e2d8c8;

    --code-color: #1e1e1e;
    --code-background: #ffffff;

    --navbar-background: #d1c9be;
    --navbar-theme-switch-background: #FCFCFD;

    --navbar-btn-background: #FCFCFD;
    --navbar-btn-color: #36395A;
    --navbar-btn-shadow: #D6D6E7;

    --card-background: #FCFCFD;
}

/**Principal**/

#hr-main {
    border-radius: 10px;
    border: none;
    height: 8px;
    background-color: var(--navbar-background);
    padding-top: 5px;

    margin-left: 30px;
    margin-right: 30px;

    margin-bottom: 350px;
    margin-top: 100px;
    /* Adjust this value to move it further down */
}

.hr {
    border: none;
    height: 8px;
    border-radius: 20px;
    background-color: var(--navbar-background);
}

#container-index {
    background-color: var(--background-color);
    padding: 20px;
}

.main-img {
    max-width: auto;
    height: 350px;
    margin: 20px;
    border-radius: 10px;
}

#container-text {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.main-tittle {
    display: inline-block;
    vertical-align: auto;
    margin: 0 10px;
    max-width: 900px;
    font-size: 165px !important;
    height: auto;
    line-height: 1.1;

    transition: color 0.5s ease;
}

#container-icons {
    display: flex;
    margin-left: 180px;
    margin-top: 0;
    margin-right: 80px;
    height: 400px;
}

.main-icons {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.main-icons:hover {
    transform: scale(1.1);
    opacity: 0.5;
}


.main-down {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.main-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-item p {
    color: var(--text-color);
    margin: 15px;
    font-size: 22px;
    text-align: justify;
    line-height: 1.6;
}

/**HTML**/

/**Table**/

.text .table {
    width: 95%;
    border-collapse: collapse;
    margin-left: 33px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 3px;
}

.text th,
.text td {
    padding: 12px 15px;
    border: 1px solid #2d2d2d;
    color: rgb(206, 206, 206);
}

.text th {
    background-color: #4b4b4b;
    font-weight: bold;
}

.text tr:nth-child(even) {
    background-color: #2c2c2c;
}

/**General**/

.container {
    display: flex;
    margin: 0;
    background-color: var(--background-color);
}

.container h2 {
    color: var(--h2-color) !important;
    padding: 10px;
    padding-left: 0 !important;
}

.content {
    flex: 5;
    padding-right: 20px;
    margin: 20px
}

/**Text**/

.text p {
    color: var(--text-color);
    margin: 30px;
    font-size: 20px;
    text-align: justify;
}

.text h3 {
    color: var(--h3-color);
    margin: 30px;
    font-size: 30px !important;
    text-decoration: underline;
    font-weight: bold;
}

.text h4 {
    color: rgb(75, 75, 75);
    margin: 30px;
    font-size: 25px !important;

    border-left: 4px solid rgb(75, 75, 75);
    padding-left: 10px;
}

.text li {
    color: var(--text-color);
    margin-top: 10px;
    margin-left: 35px;
    font-size: 20px;
    text-align: justify;
}

.text code pre {
    background-color: 0;
    font-size: 15px;
    border: #4c4c4c;
}

.text code {
    border-radius: 19px;
    margin-left: 15px;
}

.text pre {
    margin: 20px;
}

#etiquetes-basiques,
#etiquetes-principals,
#estructura-element,
#llistes,
#taules,
#enllacos,
#multimedia,
#formularis,
#introduccion-css,
#selectores,
#box-model,
#texto-fuentes,
#colores-fondos,
#diseno-posicionamiento,
#flexbox,
#css-grid,
#animaciones-transiciones,
#media-queries,
#variables-css {
    scroll-margin-top: 200px;
}


/**Ejercicios**/

.container-exer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 3500px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    width: 400px;
    height: 650px;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card h2 {
    margin: 0 !important;
}

.card li {
    color: var(--text-color);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 20px;
    text-align: justify;
    flex-grow: 1;
}

.card ul {
    margin-top: 10px;
    padding-bottom: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--aside-background);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card button {
    color: #fff;
    border: none;
    background-color: var(--aside-background);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-top: auto;
    width: 100%;
    height: 40%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card button:hover {
    background-color: var(--aside-color-hover);
}