/**------------------------ General ------------------------**/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

* {
    margin: 0;
    font-family: "Noto Sans", serif;
}

html {
    scroll-behavior: smooth; /* Transición suave */
}

.header {
    background-color: rgb(136, 136, 136);
}
/**rgb(38, 38, 38);**/
body {
    background-color: var(--background-color);
    margin-top: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

h1 {
    color: rgb(183, 183, 183);
    font-size: 65px !important;
}

h2 {
    color: rgb(183, 183, 183);
    font-size: 35px;
    margin: 30px;
}

h3 {
    color: rgb(156, 156, 156);
    font-size: 25px !important;
}

hr {
    border-radius: 10px;
    border: none;

    height: 8px;
    background-color: #333;

    margin: 20px;
    margin-bottom: 350px;
}

pre code {
    font-size: 19px !important;
}

.code {
    color:#979797;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 20px;
    background-color: #363A3F;
    border-radius: 8px !important; 
    margin: 0 !important;
    margin-left: 0;
    padding:4px;
}


/**Todo el nav here**/

.navbar ul {
    list-style-type: none;
    background-color: rgb(56, 56, 56);
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;

    background-color: #9EB7E5;
    border-radius: 15px;
    size-adjust: 10px;

    margin: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.navbar a:hover {
    color: antiquewhite;
    background-color: #648DE5;
}

.navbar li {
    float: left
}

/**Todo el Asidebar here**/

.sidebar {
    flex: 1;
    background-color: #4a4a4a;
    padding: 20px;
    border-left: 1px solid #4c4c4c;
}

.sticky {
    position: sticky;
    top: 40px;
    font-size: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 25px;
}

.sidebar ul li a {
    margin-left: 0;
    text-decoration: underline;
    color: #bbbbbb;
    font-size: 20px;

    transition: color 0.3s ease, transform 0.3s ease;
}

.sidebar ul li:hover a {
    text-decoration: underline;
    color: #615ac5;
    font-size: 20px;
}

/**------------------------ Contenedores ------------------------**/

/**Animaciones**/

/**Hola Juan, se que esto no apareció en el temario, pero me hacia ilusión ponerlo porque hace poco hice un curso sobre esto**/
.content h2:target, .css-content h2:target {
    animation: highlight 2s;
}

@keyframes highlight {
    from { 
        background-color: rgb(80, 80, 80); 
        border-radius: 10px;
    }
    to { 
        background-color: transparent; 
        border-radius: 10px;
    }
}

/**Temas de la página**/

:root {
    --background-color: rgb(38,38,38);
}

[data-theme="white"] {
    --background-color: rgb(199, 199, 199);
}
/**Principal**/

#arrow-main {
    padding: 0px;
    margin: 0;
    width: 900px;
    display: inline-block;
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
    margin-bottom: 40px;
}

#arrow-main:hover {
    transform: scale(1.2);
    opacity: 1;
}

.scroll-down {
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
}

.main-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.main-tittle {
    display: inline-block;
    vertical-align: auto;
    margin: 0 10px;
    max-width: 900px;
    font-size: 165px !important;
    height: auto;
    line-height: 1.1;

    transition: color 0.5s ease;
}

.main-tittle:hover {
    color: rgb(223, 223, 223);
}

.main-flex {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}

.main-table {
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 1s ease, transform 1s ease;

    border-collapse: collapse;
    margin: auto;
}

table.animate {
    opacity: 1;
    transform: scale(1);
}

.main-table td {
    vertical-align: top;
    padding: 0px;
    text-align: center;
}

.main-img {
    max-width: auto;
    height: 350px;
    margin: 20px;
    border-radius: 10px;
}

.main-content-text {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 22px;
    color: aliceblue;
    text-align: justify;
}

.main-content-text p {
    margin-bottom: 20px;
}

.container-icons {
    display: flex;
    margin-left: 180px;
    margin-top: 0;
    margin-right: 80px;
    height: 400px;
}

.main-icons {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.main-icons:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

/**HTML**/

/**Table**/

.text .table {
    width: 95%;
    border-collapse: collapse;
    margin-left: 33px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 3px;
}

.text th, .text td {
    padding: 12px 15px;
    border: 1px solid #2d2d2d;
    color: rgb(206, 206, 206);
}

.text th {
    background-color: #4b4b4b;
    font-weight: bold;
}

.text tr:nth-child(even) {
    background-color: #2c2c2c;
}

/**General**/

.html-container {
    display: flex;
    margin: 0;
}

.html-container h2 {
    color: rgb(111, 113, 222) !important;
    padding: 10px; padding-left: 0 !important;
}

.html-content {
    flex: 5;
    padding-right: 20px;
    margin: 20px
}

/**Text**/

.text p {
    color: rgb(206, 206, 206);
    margin: 30px;
    font-size: 20px;
    text-align: justify;
}

.text h3 {
    color: rgb(134, 134, 134);
    margin: 30px;
    font-size: 30px !important;
    text-decoration: underline;
    font-weight: bold;
}

.text h4 {
    color: rgb(75, 75, 75);
    margin: 30px;
    font-size: 25px !important;

    border-left: 4px solid rgb(75, 75, 75);
    padding-left: 10px; 
}

.text li {
    color: rgb(206, 206, 206);
    margin-top: 10px;
    margin-left: 35px;
    font-size: 20px;
    text-align: justify;
}

.text code pre {
    background-color: 0;
    font-size: 15px;
    border: #4c4c4c;
}

.text code {
    border-radius: 19px;
    margin-left: 15px;
}

.text pre {
    margin: 20px;
}

#etiquetes-basiques, #etiquetes-principals, #estructura-element, #llistes, #taules, #enllacos, #multimedia, #formularis, #introduccion-css, #selectores, #box-model, #texto-fuentes, #colores-fondos, #diseno-posicionamiento, #flexbox, #css-grid, #animaciones-transiciones, #media-queries, #variables-css {
    scroll-margin-top: 200px;
}

/**CSS**/
