body {
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 25px;
}

.border {
    background-color: #e0e0e0;
    border-bottom: 3px solid;
}

.borderH {
    background-color: #e0e0e0;
    font-size: 12px;
    border-right: 3px solid;
}

.proged {
    background-color: #8cc936;
}

.digsos {
    background-color: #f6d5ff;
}


.ipo1 {
    background-color: #ffc000;
}

.llmarques {
    background-color: #ede9be;
}

.sge {
    background-color: #eb7ad4;
}

.bd {
    background-color: #cceedf;
}

.si {
    background-color: #00c01d;
}

.angles {
    background-color: #7ec1ff;
}


.tutoria {
    background-color: #ff145a;
    color:#ffffff
}

small {
    font-weight: normal;
}