<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <title>Notes Frontend - CSS</title>
    
    <link rel="stylesheet" href="../assets/css/main.css" />

    <link id="highlight-theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
    <script src="../assets/js/theme-loader.js"></script>
</head>

<body>
    <nav>
        <ul class="navbar">
            <div class="div-btn-n">
                <button class="nav-btn" type="button" onclick="location.href='index.html'">INICIO</button>
                <button class="nav-btn" type="button" onclick="location.href='html-notes.html'">HTML</button>
                <button class="nav-btn" type="button" onclick="location.href='css-notes.html'">CSS</button>
                <button class="nav-btn" type="button" onclick="location.href='exercices.html'">EJERCICIOS</button>
            </div>
            <div class="div-btn-l">
                <button id="theme-switch">
                    <img src="../assets/img/dark-icon.png" alt="icon-switch">
                    <img src="../assets/img/light-icon.png" alt="icon-switch">
                </button>
                <script src="../assets/js/darkmode.js"></script>
            </div>
        </ul>
    </nav>

    <div class="container">
        <div></div>
    
        <div class="container-exer">
            <div class="container-exer">
                <!-- Tarjeta 1 -->
                <div class="card">
                    <h2><u>Ejercicio 1</u> (Un Saltamontes En Clase)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Fácil</li>
                        <li>Descripción: Este ejercicio trata sobre la creación de una página HTML básica.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer0/index.html'"></button>
                </div>
                <!-- Tarjeta 2 -->
                <div class="card">
                    <h2><u>Ejercicio 2</u> (Logo Imagen Instituto)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Media</li>
                        <li>Descripción: Este ejercicio trata sobre el uso de CSS para estilizar una página web.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer1/index.html'"></button>
                </div>
                <!-- Tarjeta 3 -->
                <div class="card">
                    <h2><u>Ejercicio 3</u> (Inicio Tablas RAM)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Difícil</li>
                        <li>Descripción: Este ejercicio trata sobre la implementación de JavaScript para añadir interactividad.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer2/index.html'"></button>
                </div>
                <!-- Tarjeta 4 -->
                <div class="card">
                    <h2><u>Ejercicio 4</u> (Creación Calendario)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Fácil</li>
                        <li>Descripción: Este ejercicio trata sobre la creación de formularios en HTML.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer2.1/index.html'"></button>
                </div>
                <!-- Tarjeta 5 -->
                <div class="card">
                    <h2><u>Ejercicio 5</u> (Formulario Inscripción Básico)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Media</li>
                        <li>Descripción: Este ejercicio trata sobre el uso avanzado de CSS para crear layouts responsivos.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer3/index.html'"></button>
                </div>
                <!-- Tarjeta 6 -->
                <div class="card">
                    <h2><u>Ejercicio 6</u> (Formulario Inscripción Avanzado)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Difícil</li>
                        <li>Descripción: Este ejercicio trata sobre la manipulación del DOM con JavaScript.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer4/index.html'"></button>
                </div>
                <!-- Tarjeta 7 -->
                <div class="card">
                    <h2><u>Ejercicio 7</u> (Contenido Multimedia)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Fácil</li>
                        <li>Descripción: Este ejercicio trata sobre el uso de eventos en JavaScript.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer5/index.html'"></button>
                </div>
                <!-- Tarjeta 8 -->
                <div class="card">
                    <h2><u>Ejercicio 8</u> (Estructura de una página)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Media</li>
                        <li>Descripción: Este ejercicio trata sobre la creación de animaciones con CSS.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer6/index.html'"></button>
                </div>
                <!-- Tarjeta 9 -->
                <div class="card">
                    <h2><u>Ejercicio 9</u> (Espacios con celdas)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Difícil</li>
                        <li>Descripción: Este ejercicio trata sobre la integración de APIs externas con JavaScript.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer7/index.html'"></button>
                </div>
                <div class="card">
                    <h2><u>Ejercicio 10</u> (Espacios con celdas)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Difícil</li>
                        <li>Descripción: Este ejercicio trata sobre la integración de APIs externas con JavaScript.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer8/index.html'"></button>
                </div>
                <div class="card">
                    <h2><u>Ejercicio 11</u> (Espacios con celdas)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Difícil</li>
                        <li>Descripción: Este ejercicio trata sobre la integración de APIs externas con JavaScript.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer9/index.html'"></button>
                </div>
            </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>