<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <title>Notes Frontend - Ejercicios</title>
    
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="shortcut icon" href="../assets/img/k-icon.png" type="image/x-icon">

    <link id="highlight-theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
    <script src="../assets/js/theme-loader.js"></script>
</head>

<body>
    <nav>
        <ul class="navbar">
            <div class="div-btn-n">
                <button class="nav-btn" type="button" onclick="location.href='index.html'">INICIO</button>
                <button class="nav-btn" type="button" onclick="location.href='html-notes.html'">HTML</button>
                <button class="nav-btn" type="button" onclick="location.href='css-notes.html'">CSS</button>
                <button class="nav-btn" type="button" onclick="location.href='exercices.html'">EJERCICIOS</button>
            </div>
            <div class="div-btn-l">
                <button id="theme-switch">
                    <img src="../assets/img/dark-icon.png" alt="icon-switch">
                    <img src="../assets/img/light-icon.png" alt="icon-switch">
                </button>
                <script src="../assets/js/darkmode.js"></script>
            </div>
        </ul>
    </nav>

    <div class="container">
        <div class="container-exer">
            <div class="container-exer">
                <!-- Tarjeta 1 -->
                <div class="card">
                    <h2><u>Ejercicio 1</u> (Un Saltamontes En Clase)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Fácil</li>
                        <li>Descripción: Este es el primer ejercicio de la asignatura, algo de texto junto a una imagen.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer0/index.html'"></button>
                </div>
                <!-- Tarjeta 2 -->
                <div class="card">
                    <h2><u>Ejercicio 2</u> (Logo Imagen Instituto)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Facil</li>
                        <li>Descripción: Uso de las propiedades de texto como <code class="code">mark</code>, <code class="code">u</code>, <code class="code">b</code>, etc...</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer1/index.html'"></button>
                </div>
                <!-- Tarjeta 3 -->
                <div class="card">
                    <h2><u>Ejercicio 3</u> (Listas de Animales)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Facil</li>
                        <li>Descripción: Primer contacto con las listas y los tipos de estilos, listas ordenadas y desordenadas.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer2/index.html'"></button>
                </div>
                <!-- Tarjeta 4 -->
                <div class="card">
                    <h2><u>Ejercicio 4</u> (Creación Básica de Tablas)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Media</li>
                        <li>Descripción: Primer contacto con las tablas y sus diferentes estilos, de forma que se tenian que poner con colores y con una estructura predeterminada.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer2.1/index.html'"></button>
                </div>
                <!-- Tarjeta 5 -->
                <div class="card">
                    <h2><u>Ejercicio 5</u> (Tablas Memoria RAM)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Media</li>
                        <li>Descripción: Segundo contacto de tablas donde empezabamos a utilizar el <code class="code">rowspan</code> y <code class="code">colspan</code>.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer3/index.html'"></button>
                </div>
                <!-- Tarjeta 6 -->
                <div class="card">
                    <h2><u>Ejercicio 6</u> (Creación de Calendario)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Difícil</li>
                        <li>Descripción: Primer ejercicio un poco mas complicado donde tenenmos que calcar el calendario de nuestro curso.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer4/index.html'"></button>
                </div>
                <!-- Tarjeta 7 -->
                <div class="card">
                    <h2><u>Ejercicio 7</u> (Formulario de Inscripción)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Fácil</li>
                        <li>Descripción: Usos básicos de los formularios con el añadido de ponerlo en un <code class="code">POST</code>.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer5/index.html'"></button>
                </div>
                <!-- Tarjeta 8 -->
                <div class="card">
                    <h2><u>Ejercicio 8</u> (Formulario de Ciclo Superior)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Dificil</li>
                        <li>Descripción: Segundo contacto con formularios, usos como <code class="code">label</code>, <code class="code">fieldset</code> y los diferentes tipos de <code class="code">inputs</code>.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer6/index.html'"></button>
                </div>
                <!-- Tarjeta 9 -->
                <div class="card">
                    <h2><u>Ejercicio 9</u> (Uso de Contenidos)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Media</li>
                        <li>Descripción: Usos básicos de contenidos de <code class="code">videos</code> y sus diferentes propiedades.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer7/index.html'"></button>
                </div>
                <div class="card">
                    <h2><u>Ejercicio 10</u> (Estructura de HTML)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Difícil</li>
                        <li>Descripción: Mi actividad preferida, usos de <code class="code">etiquetas</code> para ordenar correctamente nuestra página web.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer8/index.html'"></button>
                </div>
                <div class="card">
                    <h2><u>Ejercicio 11</u> (Etiquetas Finales)</h2>
                    <hr class="hr">
                    <ul>
                        <li>Dificultad: Difícil</li>
                        <li>Descripción: Finalmente como utilizar otro tipo de etiquetas junto a las clases con los <code class="code">div</code>.</li>
                    </ul>
                    <button type="button" onclick="location.href='../Exercices/Exer9/index.html'"></button>
                </div>
            </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>