<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Notes Frontend - HTML</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="index.html">INICIO</a></li>
            <li><a href="html-notes.html">HTML</a></li>
            <li><a href="css-notes.html">CSS</a></li>
            <li><a href="exercices.html">EXERCICES</a></li>
        </ul>
    </nav>
    <div class="html-container">
        
        <div class="html-content">

            <h1 id="html-title">HyperText Markup Language</h1>

            <h2 id="estructura-html">Estructura fonamental de HTML</h2>
        
            <h2 id="etiquetes-principals">Etiquetes principals de la secció</h2>
        
            <h2 id="estil-document">Maneres de donar estil al document HTML</h2>
        
            <h2 id="etiquetes-basiques">Etiquetes bàsiques de HTML</h2>
        
            <h2 id="enllacos">Creació d'enllaços interns i externs</h2>
        
            <h2 id="imatges">Gestió i estils d'imatges</h2>
        
            <h2 id="taules">Creació i personalització de taules</h2>
        
            <h2 id="llistes">Llistes: ordenades, no ordenades i símbols</h2>
        
            <h2 id="formularis">Formularis: tipus d'inputs i configuració</h2>
            

        </div>
        <aside class="sidebar">
            <h3>Índice</h3>
            <ul>
                <li><a href="#html-title">HyperText Markup Language</a></li>
                <li><a href="#estructura-html">Estructura fonamental de HTML</a></li>
                <li><a href="#etiquetes-principals">Etiquetes principals de la secció</a></li>
                <li><a href="#estil-document">Maneres de donar estil al document HTML</a></li>
                <li><a href="#etiquetes-basiques">Etiquetes bàsiques de HTML</a></li>
                <li><a href="#enllacos">Creació d'enllaços interns i externs</a></li>
                <li><a href="#imatges">Gestió i estils d'imatges</a></li>
                <li><a href="#taules">Creació i personalització de taules</a></li>
                <li><a href="#llistes">Llistes: ordenades, no ordenades i símbols</a></li>
                <li><a href="#formularis">Formularis: tipus d'inputs i configuració</a></li>
            </ul>
        </aside>
    </div>
</body>

</html>