<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Notes Frontend</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">INICIO</a></li>
            <li><a href="html-notes.html">HTML</a></li>
            <li><a href="css-notes.html">CSS</a></li>
            <li><a href="exercices.html">EXERCICES</a></li>
        </ul>
    </nav>
    <main class="main">
        <div class="main-container">
            <div class="main-tittle">
                <h1 class="main-tittle">FRONTEND NOTES</h1>
            </div>
            <div class="container-icons">
                <img class="main-icons" src="../assets/img/css-icon.png">
                <img class="main-icons" src="../assets/img/html-icon.png">
            </div>
        </div>

        <br>
        <hr>

        <table class="main-table">
            <tr>
                <td>
                    <div class="main-content-text">
                        <p>
                            El frontend es la parte de una aplicación o sitio web con la que los usuarios interactúan
                            directamente.
                            Es la capa visual y funcional que permite a las personas navegar, realizar acciones y
                            consumir
                            contenido
                            en una plataforma digital. Se centra en la experiencia del usuario (UX) y el diseño de
                            interfaces (UI),
                            utilizando tecnologías como HTML, CSS y JavaScript para construir páginas atractivas y
                            fáciles
                            de usar.
                        </p>
                        <br>
                        <p>
                            El desarrollo frontend implica la creación de componentes visuales
                            como botones, menús, formulariosy
                            otros elementos interactivos. Además, los desarrolladores frontend aseguran que el diseño
                            sea
                            adaptable
                            (responsive) para que funcione correctamente en distintos dispositivos y navegadores, desde
                            computadoras
                            de escritorio hasta smartphones.
                        </p>
                    </div>
                </td>
                <td><img class="main-img" src="../assets/img/Hakon_Wium_Lie.jpg" alt=""></td>
            </tr>
            <tr>
                <td>
                    <img class="main-img" src="../assets/img/Tim-Berners-Lee.jpeg" alt="">
                </td>
                <td>
                    <div class="main-content-text">
                        <p>
                            El front-end surgió como respuesta a la necesidad de mejorar la interacción entre los
                            usuarios y
                            las aplicaciones en la web. Al principio, las páginas web eran estáticas y simples, creadas
                            solo
                            con HTML. Con el tiempo, para hacerlas más dinámicas, se añadieron tecnologías como CSS
                            (para el
                            diseño) y JavaScript (para la interactividad).
                        </p>

                        <br>

                        <p>
                            En los años 2000, con el auge de internet, las páginas web empezaron a ofrecer experiencias
                            más
                            personalizadas y ricas, lo que llevó al desarrollo de frameworks y librerías como jQuery,
                            React
                            y Angular. Todo esto hizo que el front-end evolucionara de simples páginas estáticas a
                            aplicaciones web interactivas y modernas.
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </main>
    
    <script src="../assets/js/visual-main.js"></script>
</body>

</html>