<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Frontend</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">INICIO</a></li>
            <li><a href="html-notes.html">HTML</a></li>
            <li><a href="css-notes.html">CSS</a></li>
            <li><a href="exercices.html">EXERCICES</a></li>
        </ul>
    </nav>
    <main class="main">
        <div class="main-container">
            <div class="main-tittle">
                <h1 class="main-tittle">FRONTEND NOTES</h1>
            </div>
            <div class="container-icons">
                <img class="main-icons" src="../assets/img/css-icon.png">
                <img class="main-icons" src="../assets/img/html-icon.png">
            </div>
        </div>
        
        <br><hr>
        
    </main>
</body>

</html>