<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Notes Frontend</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/darkmode.css">
</head>

<body>
    <nav>
        <ul class="navbar">
            <div class="div-btn-n">
                <button class="nav-btn" type="button" onclick="location.href='index.html'">INICIO</button>
                <button class="nav-btn" type="button" onclick="location.href='html-notes.html'">HTML</button>
                <button class="nav-btn" type="button" onclick="location.href='css-notes.html'">CSS</button>
                <button class="nav-btn" type="button" onclick="location.href='exercices.html'">EJERCICIOS</button>
            </div>
            <div class="div-btn-l">
                <input type="checkbox" id="darkmode-toggle"></input>
                <label for="darkmode-toggle"></label>
            </div>
        </ul>
    </nav>
    <main id="container-index">
        <div id="container-text">
            <div class="main-tittle">
                <h1 class="main-tittle">FRONTEND NOTES</h1>
            </div>
            <div id="container-icons">
                <img class="main-icons" src="../assets/img/css-icon.png">
                <img class="main-icons" src="../assets/img/html-icon.png">
            </div>
        </div>

        <hr id="hr-main">


        <div class="main-down">
            <div class="main-item">
                <p>El frontend es la parte de una aplicación o sitio web con la que los usuarios interactúan directamente. Es la capa visual y funcional que permite a las personas navegar, realizar acciones y consumir contenido en una plataforma digital. Se centra en la experiencia del usuario (UX) y el diseño de interfaces (UI), utilizando tecnologías como HTML, CSS y JavaScript para construir páginas atractivas y fáciles de usar. <br><br> En los años 2000, con el auge de internet, las páginas web empezaron a ofrecer experiencias más personalizadas y ricas, lo que llevó al desarrollo de frameworks y librerías como jQuery, React y Angular. Todo esto hizo que el front-end evolucionara de simples páginas estáticas a aplicaciones web interactivas y modernas.</p>
            </div>
            <div class="main-item">
                <img class="main-img" src="../assets/img/Hakon_Wium_Lie.jpg" alt="">
            </div>
            <div class="main-item">
                <img class="main-img" src="../assets/img/Tim-Berners-Lee.jpeg" alt="">
            </div>
            <div class="main-item">
                <p>El desarrollo frontend implica la creación de componentes visuales como botones, menús, formularios y otros elementos interactivos. Además, los desarrolladores frontend aseguran que el diseño sea adaptable (responsive) para que funcione correctamente en distintos dispositivos y navegadores, desde computadoras de escritorio hasta smartphones. <br><br> El front-end surgió como respuesta a la necesidad de mejorar la interacción entre los usuarios y las aplicaciones en la web. Al principio, las páginas web eran estáticas y simples, creadas solo con HTML. Con el tiempo, para hacerlas más dinámicas, se añadieron tecnologías como CSS (para el diseño) y JavaScript (para la interactividad).</p>
            </div>
        </div>

    </main>

    <script src="../assets/js/visual-main.js"></script>
    <script src="../assets/js/darkmode.js"></script>
</body>

</html>